<div class="border-b my-2 py-1 box-border">
  <%= link_to blog_url(blog.id) do %>
    <h3 class="text-xl"><%= blog.title %></h3>
    <article class="text-xs my-2 text-gray-400 h-16">
      <%= sanitize render_strip_down(blog.content).truncate(200) %>
    </article>
    <div class="flex flex-row text-sm">
      <%- if show_author %>
        <%= link_to blog.user.nick_name, user_url(blog.user.id) %>
      <%- end %>
      <span class="mx-1 flex flex-row items-center justify-center">
        <svg t="1605792563054" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7042" width="18" height="18">
          <path d="M511.1306 201.9041c-212.48 0-421.888 239.488-421.888 323.584 0 83.84 218.624 323.584 421.888 323.584s421.1476-235.648 421.888-323.584C933.7016 444.3361 725.6586 201.9041 511.1306 201.9041zM511.1296 734.3841c-39.423 0-107.007-122.88-107.007-209.408 0-82.432 63.488-209.408 107.007-209.408 43.521 0 108.033 126.976 108.033 209.408C619.1626 610.4801 550.5546 734.3841 511.1296 734.3841z" p-id="7043"></path>
        </svg>
        <span class="ml-1"><%= blog.reads_count %></span>
      </span>
      <span class="mx-1 flex flex-row items-center justify-center">
        <svg t="1605792597854" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7173" width="18" height="18">
          <path d="M510.340709 900.892171c-23.173792 0-247.254314-180.180685-332.157006-289.301965-58.338686-53.264111-105.562221-152.650679-105.562221-222.732827 0-148.765185 108.952434-269.77626 242.874563-269.77626 81.781608 0 151.191444 67.679425 194.013739 137.605008 42.822294-69.925582 112.207571-137.605008 194.013739-137.605008 133.922129 0 242.874563 121.011074 242.874563 269.77626 0 70.239737-47.445592 169.805384-106.055454 223.182059C754.630505 722.553437 534.862195 900.892171 510.340709 900.892171zM315.497069 165.0685c-108.570741 0-196.887182 100.397594-196.887182 223.788879 0 58.382689 42.059931 145.353482 91.864244 189.903118 1.033539 0.943488 2.022053 1.977028 2.874467 3.098571 83.937714 109.042485 251.138784 234.421031 297.17119 267.923052 48.054459-34.715663 213.05542-161.193239 294.611901-267.451308 0.899486-1.12359 1.888-2.178619 2.964518-3.142573 50.03251-44.663222 92.312452-131.813095 92.312452-190.33086 0-123.391285-88.316441-223.788879-196.885136-223.788879-70.487378 0-137.808646 75.135234-173.241646 149.597133-7.634888 16.033162-33.908274 16.033162-41.543162 0C453.303668 240.203734 385.983423 165.0685 315.497069 165.0685z" p-id="7174"></path>
        </svg>
        <span class="ml-1"><%= blog.likes_count %></span>
      </span>
      <span class="mx-1 flex flex-row items-center justify-center">
        <svg t="1605792693742" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7569" width="18" height="18">
          <path d="M622.56056 464.834794c0 27.928073 22.73684 50.64854 50.664913 50.64854 27.956725 0 50.693566-22.720468 50.693566-50.64854 0-27.928073-22.73684-50.66389-50.693566-50.66389C645.2974 414.171927 622.56056 436.907745 622.56056 464.834794" p-id="7570"></path><path d="M931.254178 211.459063c0-40.637536-33.05893-73.698512-73.728188-73.698512L166.471964 137.76055c-40.637536 0-73.727165 33.059953-73.727165 73.698512l0 506.796488c0 40.637536 33.088606 73.696466 73.727165 73.696466l251.16846 0 94.343715 94.28641 94.315062-94.28641 251.226788 0c40.669258 0 73.728188-33.05893 73.728188-73.696466l0-82.560344-0.089028-1.282203L931.254178 211.459063zM875.96699 695.220928c0 22.88522-18.558681 41.444924-41.443901 41.444924L579.446623 736.665853l-67.462484 67.490114-67.430762-67.490114L189.506587 736.665853c-22.88522 0-41.4746-18.559705-41.4746-41.444924L148.031986 234.493685c0-22.88522 18.58938-41.488927 41.4746-41.488927l645.01548 0c22.88522 0 41.443901 18.603707 41.443901 41.488927l0 396.579247 0 36.161594L875.965967 695.220928z" p-id="7571"></path><path d="M461.321272 464.834794c0 27.928073 22.735817 50.64854 50.662867 50.64854 27.929096 0 50.66389-22.720468 50.66389-50.64854 0-27.928073-22.734794-50.66389-50.66389-50.66389C484.057089 414.171927 461.321272 436.907745 461.321272 464.834794" p-id="7572"></path><path d="M300.083008 464.834794c0 27.928073 22.735817 50.64854 50.66389 50.64854 27.927049 0 50.662867-22.720468 50.662867-50.64854 0-27.928073-22.735817-50.66389-50.662867-50.66389C322.817802 414.171927 300.083008 436.907745 300.083008 464.834794" p-id="7573"></path>
        </svg>
        <span class="ml-1"><%= blog.comments_count %></span>
      </span>
    </div>
    <%- unless blog.cover.file.nil? %>
      <%= image_tag blog.oss_avatar %>
    <%- end %>
  <%- end %>
</div>