<%= provide :title, "#{@blog.title} - #{WebSetting::APP_NAME}" %>
<!-- 回到顶部 -->
<%= render 'shared/to_top_btn' %>
<!-- 左侧悬浮点赞评论 -->
<%= render 'ugc', blog: @blog %>
<%= provide :left_slot do %>
  <h3 class="text-3xl"><%= @blog.title %></h3>
  <p class="flex flex-row my-1">
    <small class="text-gray-400 text-xs">发布于 <%= @blog.created_at.to_s(:db) %></small>
    <small class="ml-2 text-gray-400 flex flex-row justify-center text-xs">
      <svg t="1631348020604" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2218" width="18" height="18">
        <path d="M509.618 415.795c-42.695 0-77.253 38.372-77.253 85.738 0 47.352 34.558 86.22 77.253 86.22 42.667 0 76.716-38.867 76.716-86.22 0-47.352-34.049-85.738-76.716-85.738z m1.9-177.9c-211.548 0-383.265 159.859-383.265 274.587 0 114.727 171.717 273.624 383.266 273.624 212.484 0 384.227-162.522 384.227-273.624 0-111.088-171.743-274.587-384.227-274.587z m-1.446 452.006c-89.7 0-162.134-81.71-162.134-181.903 0-101.157 72.435-182.397 162.134-182.397 90.183 0 163.1 81.241 163.1 182.397 0 100.206-72.917 181.903-163.1 181.903z" p-id="2219">
        </path>
      </svg>
      <span class="ml-1"><%= @blog.reads_count %></span>
    </small>
  </p>
  <%= render @blog.user, be_visited_user: @blog.user %>
  <%= sanitize render_markdown(@blog.content) %>
  <hr class="my-6 border-gray-200"/>
  <section class="w-full">
    <h4 class="text-lg font-semibold">评论</h4>
    <small>共有 <span><%= @blog.comments_count %></span> 条评论</small>
    <%= render 'comments/comment_input', blog: @blog, comment: @comment %>
    <hr class="my-6 border-gray-200"/>
    <ul>
      <%- @comments = @blog.comments.includes(:user, :sub_comments).where(comment_id: nil) %>
      <%- if @comments.size > 0 %>
        <%= render @blog.comments.includes(:user, :sub_comments).where(comment_id: nil) %>
      <%- else %>
        <p class="text-sm text-gray-400 text-center my-24">暂无更多评论~赶紧来发表评论吧</p>
      <%- end %>
    </ul>
  </section>
<% end %>
<%= provide :right_slot do %>
  <section class="sticky top-24">
    <h4 class="text-sm">目录</h4>
    <ul class="text-sm mt-2">
      <template
        x-data="tocComponent"
        x-for="(toc, index) in tocData"
        @scroll.window="onScroll"
      >
        <li
          @click="redirectToToc(index, currentSelect)"
          class="hover:bg-red-100 hover:text-red-800 pl-2 pr-2 py-1 cursor-pointer"
          :class="(['font-semibold', 'pl-5', 'pl-8'][toc.level - 1]) + ' ' + (index === currentSelect ? 'font-semibold bg-red-100 text-red-800' : '')"
          x-text="toc.content"/>
      </template>
    </ul>
  </section>
<% end %>
<%= provide :custom_script do %>
  <script>
      function tocComponent() {
          return {
              tocData: Rails.$(window.markdownTitleSelector).map((item, index) => {
                  item.setAttribute("id", `toc${index}`);
                  return {
                      level: item.tagName[1],
                      content: item.textContent
                  }
              }),
              currentSelect: 0,
              autoScrolling: false,
              handleScrollTimer: null,
              onScroll(e) {
                  if (this.autoScrolling) {
                      return false;
                  }
                  if (this.handleScrollTimer) {
                      clearTimeout(this.handleScrollTimer);
                  }

                  this.handleScrollTimer = setTimeout(() => {
                      const allToc = Rails.$(window.markdownTitleSelector);
                      for (let i = allToc.length - 1; i >= 0; i -= 1) {
                          if (allToc[i].getBoundingClientRect().top < 150) {
                              this.currentSelect = i;
                              return;
                          }
                      }
                      this.handleScrollTimer = null;
                  }, 500);
              },
              redirectToToc(index) {
                  this.autoScrolling = true;
                  Rails.$(`#toc${index}`)[0].scrollIntoView({
                      behavior: 'smooth',
                      block: 'center'
                  });
                  this.currentSelect = index;
                  setTimeout(() => {
                      this.autoScrolling = false;
                  }, 1000);
              }
          }
      };
  </script>
<%- end %>
