<section class="flex flex-row py-4">
  <%= link_to user_url(be_visited_user.id) do %>
    <%= image_tag be_visited_user.oss_avatar, class: 'rounded-full h-16' %>
  <% end %>
  <div class="ml-3 flex flex-row flex-1 item-center">
    <div class="flex flex-col justify-center">
      <h4 class="text-lg flex item-center">
        <%= link_to be_visited_user.nick_name, user_url(be_visited_user.id) %>
        <%- @sex_icons = [
            '<svg t="1631350022199" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5484" width="18" height="18"><path d="M773.906442 33.343399h-523.812884c-119.66415 0-216.750159 97.086009-216.750159 216.750159v523.812884c0 119.7364 97.086009 216.750159 216.750159 216.750159h523.812884c119.66415 0 216.750159-97.013759 216.750159-216.750159v-523.812884c0-119.66415-97.086009-216.750159-216.750159-216.750159z m-272.350187 721.232541c-33.021887-1.762901-50.448599-17.358075-52.142863-46.919184 3.457165-31.327623 20.81524-48.685698 52.142863-52.211501 31.327623 3.529415 48.685698 20.883878 52.215113 52.211501-1.835151 29.561109-19.193227 45.156283-52.215113 46.919184z m46.995047-208.636478v23.423468c-1.762901 29.633359-17.426713 45.297171-46.991435 46.991434-29.564722-1.694264-45.228533-17.358075-46.919184-46.991434v-65.194836c0-13.90091 14.746236-25.189981 44.310957-33.867212 3.457165-1.762901 6.137642-2.611839 7.831906-2.611839 38.241953-8.677231 56.445354-27.798208 54.754703-57.431568-3.457165-29.492472-21.732816-46.001609-54.754703-49.531023-20.883878 0-41.771368 12.206646-62.582996 36.547689-17.426713 19.120977-33.090524 28.647146-46.919184 28.647146-24.413293-1.694264-37.465265-17.358075-39.159529-46.919184 6.91433-62.582996 56.517604-99.130685 148.661709-109.574431 100.828561 6.98658 153.957638 53.905764 159.105454 140.829803-0.003613 69.569576-39.163141 114.798109-117.337698 135.681987z" p-id="5485" fill="#cdcdcd"></path></svg>',
            '<svg t="1631349926371" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4949" width="18" height="18"><path d="M560.931348 402.638707c-89.22159 0-161.858181 72.604078-161.858181 161.789544 0 89.254103 72.636591 161.858181 161.858181 161.858181 89.254103 0 161.822056-72.604078 161.822056-161.858181 0-89.257715-72.567953-161.789543-161.822056-161.789544z" p-id="4950" fill="#1296db"></path><path d="M773.906442 33.343399h-523.812884c-119.700275 0-216.750159 97.013759-216.750159 216.750159v523.812884c0 119.66415 97.049884 216.750159 216.750159 216.750159h523.812884c119.700275 0 216.750159-97.086009 216.750159-216.750159v-523.812884c0-119.7364-97.049884-216.750159-216.750159-216.750159z m-212.902844 769.491964c-131.520384 0-238.5191-106.893953-238.519099-238.410725 0-52.565526 17.181063-100.969449 46.037733-140.338502L301.246596 356.774374v86.927651H224.657927V221.023749h223.523601v76.624794H350.564482l72.495703 72.531828c39.018641-27.798208 86.537501-44.310957 137.939801-44.310957 131.412009 0 238.410725 107.034841 238.410725 238.555224 0.003613 131.516771-106.995103 238.410725-238.407113 238.410725z" p-id="4951" fill="#1296db"></path></svg>',
            '<svg t="1631349851582" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4741" width="18" height="18"><path d="M571.530431 277.891766c-94.333282 0-171.026713 76.624794-171.026713 171.030325 0 94.264644 76.624794 171.030325 171.026713 171.030326 94.264644 0 171.030325-76.765681 171.030325-171.030326 0-94.333282-76.765681-171.030325-171.030325-171.030325z" p-id="4742" fill="#db639b"></path><path d="M773.888379 33.343399h-523.812883c-119.66415 0-216.714034 97.013759-216.714034 216.750159v523.812884c0 119.66415 97.049884 216.750159 216.714034 216.750159h523.812883c119.7364 0 216.750159-97.086009 216.750159-216.750159v-523.812884c0-119.7364-97.017371-216.750159-216.750159-216.750159z m-202.357948 659.567121c-60.112044 0-115.148522-21.942341-157.761603-58.139618l-35.138813 35.138814 57.644705 57.716954-51.575701 51.507063L327.054315 721.416778l-66.816849 66.889099-51.647951-51.5757 66.816849-66.816849-61.033232-61.10187 51.64795-51.507062 60.960982 61.033232 38.805504-38.736866c-24.131518-37.887928-38.310591-82.693798-38.310591-130.671446 0-134.623524 109.433543-243.984816 243.984817-243.984816s244.057066 109.361293 244.057066 243.984816c-0.003613 134.475411-109.437155 243.981204-243.988429 243.981204z" p-id="4743" fill="#db639b"></path></svg>'
        ] %>
        <small class="text-sm ml-2 flex items-center"><%= @sex_icons[be_visited_user.sex.to_i].html_safe %></small>
      </h4>
      <p>
        <small>博客 <%= be_visited_user.blogs.kept.count %></small>
<!--        <small class="mx-1 text-gray-300">|</small>-->
<!--        <small>关注 <%#= be_visited_user.following_count %></small>-->
<!--        <small class="mx-1 text-gray-300">|</small>-->
<!--        <small>粉丝 <%#= be_visited_user.followers_count %></small>-->
      </p>
    </div>
<!--    <div class="ml-auto flex items-center">-->
      <%#- if !current_user || (current_user && (current_user.id != be_visited_user.id)) %>
        <%#- if current_user && (current_user.follow_user? be_visited_user) %>
          <%#= link_to '取消关注', follow_user_path, class: 'rounded-full border', method: :post %>
        <%#- else %>
          <%#= link_to '关 注', follow_user_path, class: 'border border-white rounded-full w-24 text-center p-2 bg-red-400 text-white hover:bg-white hover:text-red-800 hover:border-red-800 transition', method: :post %>
        <%#- end %>
      <%#- end %>
<!--    </div>-->
  </div>
</section>