<nav class=" shadow sticky top-0 bg-white">
  <nav class="w-container relative mx-auto flex flex-row h-16 items-center justify-center">
    <div class="h-8 w-8 mr-4 absolute -left-12">
      <%= image_tag 'https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg' %>
    </div>
    <ul class="flex w-container flex-row justify-between ">
      <li class="mx-2 transition border-b-2 border-white text-black hover:text-red-800 hover:border-red-800 h-16 w-16 border-fuchsia-600 flex justify-center items-center">
        <%= link_to '首页', root_path, class: 'text-base block w-full h-full text-center flex flex-col items-center justify-center' %>
      </li>
    </ul>
    <div x-data="{visible: false}" class="flex flex-row items-center">
      <button
        @mouseenter="visible = true"
        @mouseleave="visible = false"
        class="relative bg-white h-10 w-10 rounded-full text-sm text-red-800 font-semibold transition"
      >
        <%- if current_user %>
          <%= image_tag current_user.oss_avatar, class: 'h-8 w-8 rounded-full' %>
          <div 
            x-show="visible"
            x-transition
            class="absolute transition shadow bg-white top-11 -left-1/2 w-max text-left font-thin text-black"
          >
            <ul>
              <li class="h-10 hover:bg-gray-100 p-2"><%= link_to '我的主页', user_url(current_user.id)%></li>
              <li class="h-10 hover:bg-gray-100 p-2"><%= link_to '修改个人信息', edit_user_registration_url%></li>
              <li class="h-10 hover:bg-gray-100 p-2"><%= link_to '退出登录', destroy_user_session_url%></li>
            </ul>
          </div>
        <%- else %>
          <%= link_to '登录', new_user_session_url, {
              class: 'text-red-800',
              html: {
                  '@mouseenter': "visible = true",
                  '@mouseleave': "visible = false"
              }
          }
          %>
          <div
            x-show="visible"
            x-transition
            class="absolute transition shadow-md w-max bg-white top-11 -left-32 text-left font-thin text-black p-4"
          >
            <p class="mb-4">登录后你可以：</p>
            <ul class="flex flex-row my-1">
              <li class="w-52">分享多彩兴趣与生活</li>
              <li class="w-52">获取订阅的最新内容</li>
            </ul>
            <ul class="flex flex-row my-1">
              <li class="w-52">发布动态、评论、Anyway</li>
              <li class="w-52">更多精彩内容与最新特性</li>
            </ul>
            <%= link_to '立即登录', new_user_session_url, class: 'block rounded bg-red-400 text-white text-center w-full p-2 my-4'  %>
            <p class="text-center">
              还没有账户？
              <%= link_to '点我注册', new_user_registration_url, class: 'text-red-800' %>
            </p>
          </div>
        <%- end %>
      </button>
      <%= link_to editor_url, class: 'flex flex-row items-center h-10 w-24 ml-2 bg-red-400 p-2 rounded-full text-sm text-white' do %>
        <svg t="1610116298353" width='18' height='18' viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="588">
          <path d="M494.1 221.6l18.2 91.4-40.9-77.5c-31.6 19.9-64 42.2-96.9 67.3l26.8 134.4-58-109.9c-25.6 20.7-51.4 43.2-77.3 67.4L295.6 543l-61.8-117.1c-26.6 26.4-53.2 54.7-79.8 85.2l35.9 180-72.3-136.9c-17.5 21.4-34.9 43.6-52.2 66.9-13.3 49.3 79.5 232.6 79.5 232.6l-44.5 90.5 96.5-67.8s205.9-7 234.3-31.7c10.5-26.5 21.5-52.5 33.1-78.1l-122.5 1.8L486.1 720c17.4-35.8 35.8-70.6 54.9-104.3l-135.8 1.9 167.5-56c19.6-32.4 39.8-63.7 60.1-93.7L511 469.6l157.4-52.7c24.5-34.1 49-66.4 73.3-96.7l-90.5 1.3 123-41.1c71-85.3 137.1-152.5 185.8-197.7-3.7-6.2-207.3-15.7-465.9 138.9zM210.7 851c-22.9-1.7-40.5 5.7-38.8-22.5 239.7-470.6 763.6-746 763.6-746S339.4 498.5 210.7 851z" fill="#ffffff" p-id="589"></path>
        </svg>
        创作中心
      <%- end %>
    </div>
  </nav>

</nav>