<!DOCTYPE html>
<html lang="cn">
<head>
  <title>文章管理 | Burogu</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>

  <%= vite_client_tag %>

  <%= vite_javascript_tag 'admin' %>
  <%= vite_stylesheet_tag 'admin.scss' %>

  <%#= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div id="admin" style="height: 100%"></div>
</body>
</html>
