<!DOCTYPE html>
<html lang="cn">
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="/website.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'stimulus', 'data-turbolinks-track': 'reload' %>
</head>

<body id="<%= "#{controller_name}__#{action_name}" %>">
<% if flash[:notice] %>
  <div id="alert" class="alert alert-primary alert-dismissible fade show fixed-top" role="alert">
    <strong><%= flash[:notice] %></strong>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<%= render 'shared/header' unless %w(users__show blogs__show).include? "#{controller_name}__#{action_name}" %>
<%= yield :slot %>

<div class="page">
  <div class="container body">
    <%= yield %>
  </div>
</div>
<script>
    $('.page').css({marginRight: '-10%', opacity: 0});
</script>
</body>
</html>
