<!DOCTYPE html>
<html lang="cn" class="dark">
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="/website.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
  <%= vite_stylesheet_tag 'application.scss' %>
</head>

<body class="flex flex-col">

<%= render 'shared/global_header' %>

<div class="max-w-container mx-auto flex flex-1 justify-between">

  <div class="w-2/3 p-5">
    <%= yield :left_slot %>
  </div>

  <div class="w-1/3 p-5">
    <%= yield :right_slot %>
  </div>

</div>

<%= yield :custom_script%>
</body>
</html>
