<!DOCTYPE html>
<html lang="cn">
<head>
  <title><%= yield :title %></title>
  <link rel="icon" href="/website.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="<%= "#{controller_name}__#{action_name}" %>">

<div class="w-100 h-100 flex-grow-1 row">
  <div class="col-4 devise_left">

    <section class="p-0">
      <h4 class="mb-1">
        欢迎使用&nbsp;
        <span class="logo">
          <%= link_to 'Burogu', root_url %>
        </span>
      </h4>
      <small class="text-muted">
        简简单单创作
      </small>
      <%= render 'shared/notice' %>
    </section>

    <%= yield %>
  </div>
  <div class="col-8 devise_right">
    <div class="propaganda">
      <h1>学就完事！</h1>
      <p class="mb-4">学习人，学习魂，学习都是人上人。</p>
      <small>我现在没心情谈什么狗屁浪漫爱情故事，我现在只想学习。</small>
    </div>
  </div>
</div>


</body>
</html>
